<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CRM2011ClientBase" version="1.0.3.0" targetFramework="net40" />
  <package id="CrmSvcUtil.2011" version="5.0.18" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net40" />
  <package id="Microsoft.Crm.Sdk.Proxy.2011" version="5.0.18" targetFramework="net40" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net40" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="NPOI" version="2.4.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>