<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cnsPRE" connectionString="Data Source=172.20.0.102;Initial Catalog=MSCRM_ASPAD_DEV;User ID=ETL_PRE;Password=Asyb@2015" providerName="System.Data.SqlClient"/>
    <add name="cns" connectionString="Data Source=172.20.0.104;Initial Catalog=ASPAD_MSCRM;User ID=ETL;Password=Asyb@2015;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--
    <add key="CrmServer" value="http://172.20.0.102:5555"/>
    <add key="CrmOrganization" value="ASPAD-DEV"></add>
    <add key="CrmUserAdminDomain" value="rd-aisa"></add>
    <add key="CrmUserAdminCode" value="javier.noguero"></add>
    <add key="CrmUserAdminPassword" value="6060def80E"></add>
    -->
    <add key="CrmServer" value="https://aspad.rd-aisa.es:444"/>
    <add key="CrmOrganization" value="ASPAD"/>
    <add key="CrmUserAdminDomain" value="rd-aisa"/>
    <add key="CrmUserAdminCode" value="javier.noguero"/>
    <add key="CrmUserAdminPassword" value="6060def80E"/>
    <add key="version" value="0.2.231"/>
    <add key="IVA" value="21"/>
    <add key="IGIC" value="7"/>
    <add key="Ceuta" value="6"/>
    <add key="Melilla" value="4"/>
    <add key="SmtpServer" value="10.102.10.204"/>
    <add key="MailSender" value="clinicas@aspad.es"/>
    <add key="MailSenderUser" value="adegroup\clinicas.aspad"/>
    <add key="MailSenderPassword" value="C123!zxc"/>
    <add key="MailDestination" value="clinicas@aspad.es"/>
    <add key="DiasValidacion" value="90"/>
    <add key="SalesForceUser" value="user_integracion@aspad.com" />
    <add key="SalesForceToken" value ="ASPAD_19dPrqqcmbxSXtmWhIXEnyFtp5A" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--httpRuntime targetFramework="4.5" /-->
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>